/* =Import Required styles
==================================================================================*/
@import url(normalize.css);
 @import url(//fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap);
/* =Box Sizing
==================================================================================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
/* =Deafult Tag & General Classes
==================================================================================*/
html, body { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }
body { background: #f5f5ff; font: 16px/1.25 'Montserrat', sans-serif; color: #000; font-weight: 500; letter-spacing: normal; overflow-x: hidden; }
img { vertical-align: top; border: 0; }
a, input[type="button"], input[type="submit"], button, table th, table td { -moz-transition: background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition: background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition: background-color 0.2s ease-in, color 0.2s ease-in; -ms-transition: background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition: background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }
.allanim, #header, #mainmenu li a:after, .formstepsnav li, .formstepsnav li::before { -moz-transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -ms-transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }
a { color: #0042ff; text-decoration: none; }
a:hover { text-decoration: underline; }
 @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
a:active { background-color: transparent; }
}
strong { font-weight: bold; }
small, .small { font-size: 85%; }
sub, sup { font-size: 80% }
p { margin: 0 0 30px 0; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3; margin: 0 0 15px; font-weight: 700; color: #000; padding: 0; letter-spacing: 0; text-transform: none; }
h1, h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
ul li { line-height: 24px; }
.darkbg * { color: #f5f5ff; }
.cf:before, .cf:after, .wrap:after, .wrap:before { content: ""; display: table; }
.cf:after, .wrap:after { clear: both; }
.cf, .wrap { zoom: 1; }
.nodisplay { display: none; }
.nodisplay_strict { display: none !important; }
.alignleft { float: left; }
.alignright { float: right; }
:focus { outline: none; }
.text_cont p { padding: 0 0 10px 0; }
.nopad p, p.nopad { padding: 0; }
.cols {
 *zoom:1; margin-left: -20px; margin-right: -20px; clear: both; }
.cols:after { content: ""; display: table; clear: both; }
.cols .col { float: left; min-height: 1px; padding-left: 20px; padding-right: 20px; }
.cols1 .col { width: 100% }
.cols2 .col { width: 50% }
.cols3 .col { width: 33.333333333333%; }
.cols3 .col.colsemi { width: 66.667%; }
.cols4 .col { width: 25%; }
/* =Blockquote & highlight
==================================================================================*/
blockquote { border-left: solid 6px #e1e1e1; margin-left: 0; padding-left: 15px; }
blockquote small { font-size: 85%; display: block; color: #999; padding: 5px 0 0 0; font-style: italic; }
.highlight, mark { background: #fffd64; }
/* =Text Size, color & Custom list style
==================================================================================*/
.text-bigger { font-size: 22px; }
.text-big { font-size: 20px; }
.text-small { font-size: 12px; }
.text-muted { color: #777; }
.text-primary { color: #0042ff; }
.text-secondary { color: #7979a9; }
.bg-muted { background: #777; }
.bg-primary { background: #0042ff; }
.bg-secondary { background: #7979a9; }
.text-lc { text-transform: lowercase; }
.text-uc { text-transform: uppercase; }
.has-show { display: block !important; }
.has-hide { display: none !important; }
.has-error { padding: 8px 12px 0; display: block; color: #0042ff; }
input.has-error { border: solid 1px #0042ff !important; }
.tall-space { margin: 45px 0; }
.medium-space { margin: 20px 0; }
.home #main ul { list-style: none; padding: 0; }
.home #main ul li { position: relative; padding: 0 12px; margin: 0 0 10px; }
.home #main ul li:before { content: ''; position: absolute; top: 9px; left: 0; background: #000; width: 6px; height: 6px; border-radius: 50%; }
.custom-arrow-list { margin: 0; padding: 0; list-style: none; }
.custom-arrow-list li { position: relative; padding-left: 20px; }
.custom-arrow-list li:before { content: ''; border: solid 2px #bbb; border-left: 0; border-top: 0; position: absolute; left: 1px; top: 9px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); width: 7px; height: 7px; }
/* =Divider Width
==================================================================================*/
hr { border: 0; border-bottom: solid 1px #e1e1e1; margin: 20px 0; position: relative; width: 100%; }
hr:before { background: #888; bottom: 0; content: ""; display: block; height: 1px; left: 0; right: 0; margin: 0 auto; top: 0; position: absolute; width: 40px; }
.dashed-border { border-bottom-style: dashed }
.dotted-border { border-bottom-style: dotted; }
.double-border { border-bottom-style: double; border-bottom-width: 3px; }
.double-border:before { height: 3px; }
/* =Drop Caps
==================================================================================*/
p.drop-caps:first-child:first-letter { float: left; font-size: 75px; line-height: 60px; padding: 4px; margin-right: 5px; margin-top: 5px; font-family: Georgia; }
p.drop-caps.secundary:first-child:first-letter { background-color: #0042ff; color: #fff; padding: 6px; margin-right: 11px; border-radius: 4px; }
/* =Image Caps
==================================================================================*/
.image-block { padding: 25px 0; }
.image-block:after { display: table; clear: both; content: ''; }
.image-block figure { width: 33.33333%; float: left; position: relative; border: solid 1px #e5e5e5; padding: 5px; background: #fff; margin: 0 20px 10px 0; }
.image-block figure img { width: 100%; height: auto; }
.image-block.right-align figure { float: right; margin: 0 0 10px 20px; }
.image-block figcaption { display: block; font-weight: 700; position: absolute; left: 5px; right: 5px; bottom: 5px; margin: 0 auto; background: rgba(0,0,0,0.40); padding: 13px 10px; color: #fff; text-align: center; line-height: 1.25; }
figure { margin: 0; }
.image-block h3 { margin-bottom: 20px; }
/* =Section Caps
==================================================================================*/
.section-block { padding: 25px 0; background: #fff; }
/* =Layout Width
==================================================================================*/
#wrapper { }
.wrap { max-width: 1260px; width: 100%; margin: 0 auto; padding-left: 30px; padding-right: 30px; }
#primary { float: left; width: 700px; }
#sidebar { float: right; width: 200px; }
.one-column { width: auto !important; float: none !important; }
/* =Common-Page (common classes for all pages)
==================================================================================*/
#header { background:#f5f5ff; position: fixed; right: 0; top: 0; z-index: 99999999999; width: 100%; border-bottom: #f5f5ff solid 1px; }
#header.navhide { top:0; border-bottom-color: transparent; box-shadow: 0 0 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2); }
/*.page-template-personal-detail #header, .page-template-shipping-address #header, .page-template-pay-online #header, .page-template-conformation #header { background: #111; }*/
.headertop { background: #202636; padding: 16px 0; }
.headertopleft { float:left; }
.headertopleft img { position:relative; top:5px; margin-right:11px; }
.headertopright { float:right; }
.headertopright li a { opacity: 0.7; -webkit-transition: 0.2s all ease-in; transition: 0.2s all ease-in; }
.headertopright li.current-menu-item a { opacity:1; }
.headertop ul { list-style: none; margin: 0; padding: 0; }
.headertop ul:after { content: ''; display: table; clear: both; }
.headertop li { float: left; margin: 0 50px 0 0; }
.headertop li:last-child { margin: 0; }
.headertop li span, .headertop li a { color: #fff; }
.headertop li span { display: block; }
.headertop li a { display: inline-block; }
.headertop li a:hover { color: #b4c6fd; text-decoration: none; }
.headerbottom { padding: 20px 0; }
#logo { float:left; width: 250px; position: relative; }
#logo img { max-width: 100%; height: auto; width: auto; }
#mainmenu { float:right; font-size: 14px; margin: 0px 0 10px 0; padding-top: 12px; }
#mainmenu ul { margin: 0; padding: 0; list-style: none; }
#mainmenu ul:after { content:''; display:table; clear:both; }
#mainmenu li { float: left; line-height: 30px; }
#mainmenu > ul > li { margin: 0 0 0 25px; text-transform: uppercase; }
#mainmenu > ul > li:first-child { margin-left:0; }
#mainmenu li.active a { color: #ef5e40; }
#mainmenu li a { text-decoration: none; padding: 0; text-transform: capitalize; display: block; color: #202636; position: relative; font-size: 16px; font-weight: 600; opacity: 0.7; -webkit-transition: 0.2s all ease-in; transition: 0.2s all ease-in; }
#mainmenu li a:hover, #mainmenu li.current-menu-item a { opacity: 1; }
#mainmenu .moremenuwrapper { position:relative; float:right; margin:5px 0 0 25px; }
a.moremenu { color:#202636; position: relative; font-size: 16px; font-weight: 600; position:relative; padding-right:24px; opacity:0.5; }
a.moremenu:hover { opacity:1; text-decoration:none; }
a.moremenu:before { content: ''; border: solid 2px #111; border-left: 0; border-top: 0; position: absolute; top: 2px; right: 0; margin: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); width: 10px; height: 10px; }
#mainmenu .moremenuwrapper ul { position: absolute; top: calc(100% + 35px); z-index: 2; background:#fff; padding: 14px 20px; border-radius: 8px; width: 255px; right: 0; -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); box-shadow: 0 0 10px rgba(0,0,0,0.2); opacity:0; visibility:hidden; -webkit-transition:0.25s all ease-in-out; transition:0.25s all ease-in-out; }
#mainmenu .moremenuwrapper ul.active { top: calc(100% + 16px); opacity:1; visibility:visible; }
#mainmenu .moremenuwrapper ul li { line-height:1.2; margin:0 0 15px; float: none; }
#mainmenu .moremenuwrapper ul li:last-child { margin-bottom:0; }
.breadcrumbsarea { background: url(../images/bgi/formsinnbg.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 350px; text-align: center; position: relative; }
.breadcrumbsarea:before { content: ""; width: 100%; background: rgba(37, 80, 146, 0.85); height: 100%; position: absolute; left: 0; top: 0; bottom: 0; }
.breadcrumbsarea .breadcrumbstext { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; }
.breadcrumbsarea .breadcrumbstext h2 { color: #fff; font-weight: 700; font-size: 24px; margin: 0; }
.breadcrumbsarea .breadcrumbstext h3 { color: #fff; font-weight: 700; font-size: 45px; margin: 0; }
#footer ul { list-style: none; margin: 0; padding: 0; }
#footer ul:after { content: ''; display: table; clear: both; }
.footertop { background: #202636; padding: 40px 0; }
.footerbottom { background: #222; padding: 14px 0; }
.footerbottom * { color: #f5f5ff; }
.copyright { margin: 0; text-align: center; }
.flogo { width: 250px; position: relative; margin: 0 0 35px; }
.flogo img { max-width: 100%; width: 100%; height: auto; }
.weaccept { margin: 0 0 30px; }
.footerleft { float: left; width: 35%; padding-right: 50px; }
.footerleft p { font-size: 12px; margin-bottom: 20px; }
.footerright { float: right; width: 65%; padding-left: 200px; }
.footerright h3 { margin: 0 0 42px; }
.footerright .quicklinks { margin:0 -12px; }
.footerright .quicklinks li { float: left; width: 50%; margin: 0 0 16px; padding:0 12px; }
.footerright .quicklinks li a { display: inline-block; }
.footerright .quicklinks li a:hover { color: #b4c6fd; text-decoration: none; }
/* =Home-Page (only homepage used classes)
==================================================================================*/
.bannerarea { padding:130px 0; background: #f9f8fd url(../images/bgi/mainbannerbg.png) no-repeat center center / cover; position: relative; z-index: 1; }
.bannerarea:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; opacity: 0.5; z-index: -1; }
.bannerareainn h1 { color: #fff; margin:0 !important; }
.bannerareainn p {color: #fff; margin-bottom: 5px; margin-top: 20px;}
.bannerareainn .button { margin:25px 0 0; }
.bannerflexblock { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin: 0 -10px; position: relative; top: 20px; }
.bannerflexbox { flex: 0 0 33.333%; max-width: 33.333%; }
.bannerflexbox { padding: 0 10px; }
.bannerflexboxinn { background: #fff; padding: 30px 30px 20px; text-align: center; box-shadow: 0 0 10px rgba(0,0,0,0.2); }
.bannerflexboxinn h2 { font-size: 24px; font-weight: 700; text-align: center; line-height: normal; margin-bottom: 25px; }
.bannerflexboxinn p { font-size: 14px; text-align: center; }
.bannerflexboxinn a { display: inline-block; color: #fff; background: #0042ff; text-decoration: none; text-align: center; }
.bannerflexboxinn a:hover { background: #222; }
.bannerflexboxinn a span { display: block; }
.bannerflexboxinn a span:first-child { font-family: 'Montserrat', sans-serif; }
.howtoapplysection { background:#0042ff; }
.howtoapplysection  * { color:#fff; }
.howtoapplyleft { float:left; width:50%; padding-right:20px; }
.howtoapplysection .howtoapplyleft{ width: 25%;}
.howtoapplyright { float:right; width:75%; padding-left:30px; }
.full-width{ width: 100% !important;  }
.howtoapplyandrenewalsection .howtoapplyleft br { display:none; }
.howtoapplyandrenewalsection .howtoapplyright { width:50%; }
.home #main .howtoapplyright ul { list-style:none; margin:0 -10px; padding:0; }
.home #main .howtoapplyright ul:after { content:''; display:table; clear:both; }
.home #main .howtoapplyright li { float:left; width:25%; padding:0 10px 0 60px; list-style:none; font-size:16px; font-weight:500; line-height:1.3; }
.home #main .howtoapplyright li:before { display:none; }
.home #main .howtoapplyright li:after { content:''; position:absolute; bottom:0; left:0; width:50px; height:38px; }
.home #main .howtoapplyright li.stepone:after { background:url(../images/bgi/stepicon01.svg) no-repeat 0 0; }
.home #main .howtoapplyright li.steptwo:after { background:url(../images/bgi/stepicon02.svg) no-repeat 0 0; }
.home #main .howtoapplyright li.stepthree:after { background:url(../images/bgi/stepicon03.svg) no-repeat 0 0; }
.home #main .howtoapplyright li.stepfour:after { background:url(../images/bgi/stepicon04.svg) no-repeat 0 0; }
.home #main .howtoapplyright li span { display:block; font-size:14px; font-weight:400; margin:0 0 10px; }
.renewalukbox {  padding:32px 24px; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.2); box-shadow:0 0 10px rgba(0,0,0,0.2); }
.howtoapplyandrenewalsection .howtoapplyleft h3 { margin:0 0 20px; }
.howtoapplyandrenewalsection .howtoapplyleft p { margin-bottom:10px; }
.renewalukboxleft p { margin-bottom:10px; }
.disclaimer { background: rgba(0,0,0,0.8); padding: 18px 0; font-size: 14px; margin: 0; position: relative; z-index: 2; }
.disclaimer .wrap { position: relative; }
.disclaimer p { width: 76%; padding-right: 30px; margin-bottom: 0; }
.close { position: absolute; top: 50%; right: 30px; background: url(../images/close.svg) no-repeat 0 0; width: 20px; height: 20px; margin-top: -10px; }
.mainsectitle.howtoapplysection { padding-bottom: 38px; }
.howtoapplyleft h3 { margin:0; }
.bgimg { background-position: center center; background-repeat: no-repeat; background-size: cover; }
.bgimg img { opacity: 0; visibility: hidden; display: none; }
.birthcertifareainn { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.birthcertifservice { padding-right: 40px; }
.birthcertifservice, .birthcertifserviceimg { flex: 0 0 50%; max-width: 50%; }
.birthcertifserviceimg figure { height: 350px; width: 100%; }
.sectiontitle { font-size: 28px; font-weight: 700; }
.birthcertifservice ul { margin: 0; padding: 0 0 0 20px; }
.birthcertifservice ul li { margin-bottom: 15px; font-size: 14px; }
.ourservicesblock h3 { font-size: 24px; font-weight: 700; }
.sectipadd { padding: 50px 0; }
.wbcareainn { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
.wbcleftbox { flex: 0 0 50%; max-width: 50%; background: #222; }
.wbcrightbox > strong { display: block; margin: 0 0 20px; }
.wbcrightbox li > span { display: block; margin: 10px 0 0; }
.wbcrightbox { background: #f5f5f5; flex: 0 0 50%; max-width: 50%; }
.wbcarearevese .wbcleftbox { background: #f5f5f5; }
.wbcarearevese .wbcleftbox .benifitlisting > strong { display: block; margin: 0 0 20px; }
.whatarearea { background: #222 url(../images/bgi/europeanhealthbg.png) no-repeat center center / cover; position:relative; z-index:1; }
.whatarearea:before { content:''; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:#000; opacity:0.9; z-index:-1; }
#main .whatareareaoinn ul { list-style: none; margin: 20px 0 0; padding: 0; }
#main .whatareareaoinn ul li { padding: 0; }
#main .whatareareaoinn ul li.web { padding: 0 0 0 34px; position: relative; }
#main .whatareareaoinn ul li.web img { position: absolute; top: 2px; left: 0; }
.renewlostcardsection { background:#0042ff; text-align: center;}
.renewlostcardsection * { color:#fff; }
.renewlostcardsection h5 { margin:0 0 10px; }
.renewlostcardsection p { margin:0 0 15px; }
.renewlostcardsection .button { background:#fff; color:#0042ff; }
.renewlostcardsection .button:hover { background:#111; }
.whatareleft > strong { margin: 15px 0 0; display: block; }
.whatareareaoinn ul li:before { display: none; }
.wbcarearevese .wbcareainn { background: #f5f5f5; }
.wbcarearevese .wbcareainn * { color: #000; }
.wbcarearevese .wbcrightbox { padding: 0; }
.wbcarearevese .wbcrightbox .bgimg { height: 100%; }
.wbcleftbox, .wbcrightbox { padding: 60px; }
.wbcareainn h2 { margin-bottom: 20px; color: #fff; }
.wbcareainn p { font-size: 14px; color: #fff; }
.wbcrightbox p, .wbcrightbox h2 { color: #000; }
#main .documentneededlisting { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; margin: 0 -42px !important; }
#main .documentneededlisting li { padding: 0; flex: 0 0 25%; line-height: 1.4; padding: 0 10px; }
#main .documentneededlisting li a { display: block; font-weight: bold; font-size: 20px; color: #000; padding: 20px 30px; line-height: 1.2; }
#main .documentneededlisting li a:hover { text-decoration: none; }
#main .documentneededlisting li img { width: 60px; height: 60px; display: block; margin: 0 0 20px; }
#main .documentneededlisting li:before { display: none; }
.applynowsection { background: #b0c5ff; color: #000; }
.ctalink { font-weight: 600; display: inline-block; }
.ctalink:after { content: ''; display: inline-block; vertical-align: middle; background: url(../images/arrow.svg) no-repeat 0 0; width: 24px; height: 17px; position: relative; top: -2px; left: 15px; }
.ctalink:hover { text-decoration: none; }
.whatareareaoinn { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
.whatareleft, .whatareright { flex: 0 0 50%; max-width: 50%; }
.whatareleft { padding-right: 50px; }
.bottomdisclaimer { padding-top: 0; }
.bottomdisclaimer p + p { margin-bottom: 0; }
/* =Contact us Page
==================================================================================*/
.contactsection h5 { text-transform: capitalize; color: #000; letter-spacing: 0; font-weight: bold; }
.contactinfo { margin: 40px 0; }
.contactsection .wrap { max-width: 900px; }
.contactsection .treadmarknumberimg { display: block; margin: 0 0 0 110px; }
.workinghoursinfo ul { list-style: none; margin: 0; padding: 0; }
#main .workinghoursinfo ul li { padding: 0; margin: 0 0 15px; }
#main .workinghoursinfo ul li a { color: #222; }
#main .workinghoursinfo ul li:before { display: none; }
/* =Form Style
==================================================================================*/
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select, input[type="submit"], input[type="button"] { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align:middle;
}
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, input[type="submit"], input[type="button"] { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
button, input { line-height: normal; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select { font-size: 16px; background: #fff; padding: 4px 20px; height: 41px; line-height: 1.55; border: solid 1px #000; color: #000; width: 100%; font-weight: 600; font-family: 'Montserrat', Arial, Helvetica, sans-serif; -moz-transition: border-color 200ms ease-in; -webkit-transition: border-color 200ms ease-in; transition: border-color 200ms ease-in; }
input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg, input[type="tel"].input-lg, input[type="search"].input-lg, input[type="url"].input-lg { height: 58px; }
input[type="text"].input-sm, input[type="password"].input-sm, input[type="email"].input-sm, input[type="tel"].input-sm, input[type="search"].input-sm, input[type="url"].input-sm { height: 38px; }
textarea { width: 100%; height: 41px; overflow: auto; resize: none; padding: 7px 20px; font-family: 'Montserrat', Arial, Helvetica, sans-serif; }
select { height: 60px; padding: 12px 42px 12px 20px; position: relative; z-index: 1; background: none; line-height: 1; border-radius: 0; height: 100%; }
.custom-select { height: 41px; }
.custom-select select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; }
 .custom-select select::-ms-expand {
display:none;
}
.ie select { padding-right: 0; }
.ie .custom-select:after { z-index: 3; }
.custom-select { position: relative; }
.custom-select:after { content: ''; border: solid 2px #111; border-left: 0; border-top: 0; position: absolute; top: 12px; right: 16px; margin: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); width: 12px; height: 12px; }
.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="search"], .ie input[type="url"], .ie select { line-height: 32px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus, select:focus { border: solid 1px #000; }
 input::-moz-focus-inner, button::-moz-focus-inner {
border:0;
padding:0;
}
input[type="button"], input[type="submit"], button { background: #0042ff; color: #fff; border: 0; cursor: pointer; width: auto; overflow: visible; padding: 16px 80px; vertical-align: middle; text-decoration: none; font-size: 18px; line-height: 1.25; font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-weight: 600; border-radius: 50px; }
input[type="button"]:hover, input[type="submit"]:hover, button:hover { background: #222; color: #fff; }
input[type="checkbox"], input[type="radio"] { margin: 4px 8px 0; vertical-align: top; }
::-webkit-input-placeholder {
 font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 opacity:0.5;
}
::-moz-placeholder {
 font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 opacity:0.5;
}
:-ms-input-placeholder {
 font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 opacity:0.5;
}
:-moz-placeholder {
 font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 opacity:0.5;
}
.checkbox, .radio { position: relative; float: left; margin-right: 40px; }
.form-block .form-group .checkbox label, .form-block .form-group .radio label { font-size: 16px; font-weight: 500; padding: 0; padding-left: 26px; display: block; line-height: 1.1; }
.checkbox input, .radio input { top: 0; left: 0; z-index: 1; cursor: pointer; opacity: 0; position: absolute; }
.checkbox input:checked + .input-helper:before, .radio input:checked + .input-helper:before { border-color: #202636; }
.checkbox input:disabled + .input-helper:before, .radio input:disabled + .input-helper:before { opacity: 0.35; }
.checkbox .input-helper:before, .radio .input-helper:before, .checkbox .input-helper:after, .radio .input-helper:after { position: absolute; content: ""; transition: all 200ms; }
.checkbox .input-helper:before, .radio .input-helper:before { left: 0; border: 1px solid #7a7a7a; }
.checkbox input { width: 18px; height: 18px; margin: 0; }
.checkbox input:checked + .input-helper:before { background-color: #202636; }
.checkbox input:checked + .input-helper:before { background-color: #202636; }
.checkbox input:checked + .input-helper:after { transform: scale(1); opacity: 1; }
.checkbox .input-helper:before { top: 0; width: 18px; height: 18px; border-radius: 4px; color: #fff; }
.checkbox .input-helper:after { content: '\2713'; font-size: 13px; left: 2px; top: 1px; font-weight: 600; color: #fff; transform: scale(0); opacity: 0; }
.radio input { width: 18px; height: 18px; margin: 0; }
.radio input:checked + .input-helper:after { transform: scale(1); }
.radio .input-helper:before { top: 0; width: 16px; height: 16px; border-radius: 2px; }
.radio .input-helper:after { content: '\2713'; width: 8px; height: 8px; background: #0042ff; border-radius: 50%; top: 5px; left: 5px; transform: scale(0); }
/* =BreadCrumbs
==================================================================================*/
.breadcrumbs { padding: 10px 0; background: #efeded; border-bottom: solid 1px #dedede; font-size: 14px; color: #999; }
.breadcrumbs ul { display: inline; margin: 0 0 0 5px; padding: 0; }
.breadcrumbs li { display: inline-block; margin: 0 0 0 20px; position: relative; }
.breadcrumbs li:before { content: ''; border-left: solid 4px #999; border-bottom: solid 4px transparent; border-top: solid 4px transparent; width: 0; height: 0; display: inline-block; position: absolute; left: -14px; top: 50%; margin-top: -4px; }
.breadcrumbs li a { color: #505061; text-decoration: none; }
.breadcrumbs li a:hover { color: #0042ff; }
/* =Form list
==================================================================================*/
.form-block { margin: 10px 0; }
.form-group { padding: 10px 0 }
.form-group:after { clear: both; content: ''; display: table; }
.formlist .form-group ul { margin: 0; padding: 0; list-style: none; }
.forgot-link { float: right; }
.form-block .form-group label { display: inline-block; padding: 0 0 5px; }
.form-inline .form-group label { float: left; width: 30%; padding: 10px 10px 10px 0; line-height: 1.5 }
.form-inline .form-group .field-box { width: 70%; float: left; }
/* =Common button CSS
==================================================================================*/
.button { background-color: #0042ff; font-size: 16px; color: #fff; display: inline-block; line-height: 1.2; padding: 13px 30px; vertical-align: bottom; font-weight: 600; border-radius: 50px; }
.button:hover { background-color: #222; text-decoration: none; color: #fff; }
.button.btn-lg, input[type="submit"].btn-lg, input[type="button"].btn-lg, button.btn-lg { padding: 14px 48px; font-size: 18px; }
.button.btn-sm, input[type="submit"].btn-sm, input[type="button"].btn-sm, button.btn-sm { padding: 10px 25px; font-size: 14px; }
.button.btn-xs, input[type="submit"].btn-xs, input[type="button"].btn-xs, button.btn-xs { padding: 8px 20px; font-size: 12px; }
.button.btn-lightgray, input[type="submit"].btn-lightgray, input[type="button"].btn-lightgray, button.btn-lightgray { background: #969fb0; color: #fff; }
.button.btn-lightgray:hover, input[type="submit"].btn-lightgray:hover, input[type="button"].btn-lightgray:hover, button.btn-lightgray:hover { background: #757f90; }
.button.btn-secondary, input[type="submit"].btn-secondary, input[type="button"].btn-secondary, button.btn-secondary { background: #555; color: #fff; }
.button.btn-secondary:hover, input[type="submit"].btn-secondary:hover, input[type="button"].btn-secondary:hover, button.btn-secondary:hover { background: #333; }
.button.btn-outline, input[type="submit"].btn-outline, input[type="button"].btn-outline, button.btn-outline { background: none; text-transform: capitalize; border: solid 1px #fff; color: #fff; }
.button.btn-outline:hover, input[type="submit"].btn-outline:hover, input[type="button"].btn-outline:hover, button.btn-outline:hover { background: #0042ff; color: #fff; }
.button.btn-lg.btn-outline, input[type="submit"].btn-lg.btn-outline, input[type="button"].btn-lg.btn-outline { padding: 14px 35px; }
.button.btn-outline, input[type="submit"].btn-outline, input[type="button"].btn-outline { padding: 11px 30px; }
.button.btn-sm.btn-outline, input[type="submit"].btn-sm.btn-outline, input[type="button"].btn-sm.btn-outline { padding: 8px 25px; }
.button.btn-xs.btn-outline, input[type="submit"].btn-xs.btn-outline, input[type="button"].btn-xs.btn-outline { padding: 6px 20px; }
.button.btn-block { display: block; }
.buttonset .button { margin: 10px 7px; text-align: center; width: 200px; padding-left: 10px !important; padding-right: 10px !important; }
.downloadformsaera { background: url(https://www.ehicdirect.org.uk/wp-content/themes/applyukehic/images/downloadformsbg.jpg) no-repeat; background-position: center center; background-size: cover; width: 100%; position: relative; }
.downloadformsaera:before { content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0.7); position: absolute; left: 0; top: 0; z-index: 0; }
.downloadformsaerainne { text-align: center; padding: 100px; z-index: 1; position: relative; }
.downloadformsaerainne h2 { color: #fff; margin-bottom: 30px; }
.downloadformsaerainne p { color: #fff; font-size: 14px; margin-bottom: 25px; }
.downloadformsaerainne a { font-size: 14px !important; }
#btnsubmit { background-color: #f5a623; border-radius: 4px; box-shadow: 0 2px 3px 0 #ccc; color: #fff; display: block; font-size: 12px; font-weight: 700; padding: 14px 22px;
    text-align: center; text-decoration: none; text-transform: uppercase; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; } 
#btnsubmit:hover { background-color: #db8c0a; color: #fff; } 
/* =Table CSS
==================================================================================*/
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; border: 1px solid #ddd; }
table { width: 100%; margin-bottom: 30px; }
table th, table td { padding: 14px 15px; line-height: 1.32; text-align: left; vertical-align: top; border-top: 1px solid #ddd; border-right: 1px solid #ddd; }
table th { background: #ececec; font-weight: 700; padding: 17px 15px; font-size: 16px; }
table thead th { vertical-align: middle; }
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td { border-top: 0; }
/* =tabnav CSS
==================================================================================*/
.tabnav { width: 100%; margin: 0; padding: 0; list-style: none; border: solid 1px #e9edee; }
.tabnav li { float: left; position: relative; margin: 0; width: 25%; text-align: center; font-weight: 600; text-transform: uppercase; }
.tabnav li:first-child { margin: 0; }
.tabnav li h2 { margin: 0; font-size: 15px; }
.tabnav li a { display: block; padding: 16px 5px; text-decoration: none; color: #505061; line-height: 1.25; background: #e9edee; margin-bottom: -1px; border-left: solid 1px #dde1e2; }
.tabnav li:first-child a { border-left: 0; }
.tabnav li.active a, .tabnav li a:hover { background-color: #fff; color: #0042ff }
.tabnav li.active a:after { display: block; }
.tab-container { padding: 20px; border: solid 1px #e9edee; border-top: 0; }
.tabcontent .quicklist li, .tabcontent .quicklist { margin: 0; }
.tabcontent { display: none; }
.tabcontent p { color: #666; margin: 20px 0 0; }
.tabcontent p:first-child { margin-top: 0; }
.tabcontent p a, .accordion-data p a { color: #7f97ae; text-decoration: underline; }
.tabcontent p a:hover, .accordion-data p a:hover { color: #00305d }
.tabcontent h4 { margin: 0 0 15px; }
/* =Accordian CSS
==================================================================================*/
.accordion-databox .accordion-row { }
.accordion-databox .accordion-row:first-child { border-top: 0; }
.accordion-databox .accordion-row h5 { cursor: pointer; margin: 0; border-bottom: #222 solid 1px; color: #222; position: relative; padding: 16px 54px 16px 0; font-weight: 600; font-size: 24px; }
.accordion-databox .accordion-row h5:after { content: '+'; position: absolute; right: 0; top: 50%; margin-top: -4px; font-size: 24px; color: #222; font-weight: 600; line-height: 0.5; z-index: 2; }
.accordion-databox .accordion-row h5.open { color: #272c2f; }
.accordion-databox .accordion-row h5.open:after { content: '-'; font-size: 28px; }
.accordion-data { display: none; padding: 15px 0 0; }
.accordion-data p { padding: 0; margin: 10px 0 0; }
.accordion-data p:first-child { margin-top: 0; }
/* =Alertbox CSS
==================================================================================*/
.alert { padding: 16px 16px 16px 55px; margin: 20px 0; color: #454545; position: relative; }
.alert:before { position: absolute; content: ''; left: 15px; top: 15px; width: 24px; height: 24px; background: url(https://www.ehicdirect.org.uk/wp-content/themes/applyukehic/images/bgi/sprites.svg) no-repeat 0 0; }
.alert-notification { background-color: #fff0f4; border: solid 1px #db524c; color: #db524c; }
.alert-notification:before { background-position: 0 0; }
.alert-info { background-color: #e8f6ff; border: solid 1px #0082d5; color: #0082d5; }
.alert-info:before { background-position: -26px 0; }
.alert-warning { background-color: #fef4ec; border: solid 1px #ff9948; color: #ff9948; }
.alert-warning:before { background-position: -52px 0; }
.alert-success { background-color: #edfff6; border: solid 1px #04be5b; color: #04be5b; }
.alert-success:before { background-position: -79px 0; }
.alert-normal { background-color: #efefef; border: solid 1px #999; padding-left: 16px; color: #555; }
.alert-normal:before { display: none; }
/* =Default page CSS
==================================================================================*/
.heading-listblock { padding: 20px 0; }
.heading-listblock p, .heading-listblock blockquote { margin: 0 0 35px; }
.heading-listblock p:last-child { margin-bottom: 0; }
.heading-listblock .paragraph-block p { margin: 0 0 20px; }
.list-block ul, .list-block ol { padding-left: 22px; margin-left: -5px; }
.list-block ul li, .list-block ol li { margin: 5px 0; }
.list-block ul.custom-arrow-list { margin: 0; padding: 0; }
#innerbanner { background-color: #0042ff; padding: 30px 50px; text-align: center; }
#innerbanner h3 { color: #fff; margin: 0; }
/* =Form-Page
==================================================================================*/
.formtop { margin:30px 0 0; text-align:center; }
.formtop .form-group { font-size: 20px; }
.formtop .form-group em { display:block; font-style: normal; font-size:20px; }
.formtop .custom-select { text-align:left; float: none; width: 35%; margin: 5px auto 0; height: 50px; font-weight:600; }
.formtop .custom-select:after { top: 10px; }
.formtop .custom-select select { font-size:24px; }
.formtop .select2-container--default .select2-selection--single { background:transparent; border:0 !important; border-bottom:#000 solid 2px !important; }
.formtop .select2-container--default .select2-selection--single .select2-selection__rendered { padding:0 !important; }
.formtop .custom-select select { border: 0; border-bottom: #000 solid 2px; font-weight: bold; padding-left: 0; padding-bottom: 5px; color: #000; }
.formtop .custom-select select option { font-size: 18px; }
.formstepwrapper { max-width: 1060px; width: 100%; margin: 0 auto; }
.formstepwrapper ul { list-style: none; margin: 40px 0 0; padding: 0; }
.formstepwrapper ul:after { content: ''; display: table; clear: both; }
.formstepwrapper li { float: left; width: 25%; position: relative; z-index: 1; text-align: center; opacity: 0.5; -webkit-transition: 0.2s all ease-in; transition: 0.2s all ease-in; }
.formstepwrapper li.active { opacity: 1; }
.formstepwrapper li:last-child b { display: none; }
.formstepwrapper li b { position: absolute; top: 50px; left: 96px; background: #838388; width: calc(100% - 10px); height: 2px; z-index: -1; }
.formstepwrapper li.completed b { background: #000; }
.formstepwrapper li img { display: block; margin: 0 auto; background: #f5f5ff; border: #000 solid 2px; border-radius: 50%; }
.formstepwrapper li span { display: block; font-size: 20px; margin: 10px 0 0; }
#ui-datepicker-div { display: none; }
.datepickerwrapper { position: relative; }
.datepickerwrapper #datepicker { padding-right: 50px; }
.datepickerwrapper:before { content: ''; position: absolute; top: 58px; right: 16px; background: url(../images/bgi/sprites.png) no-repeat -248px 0; width: 19px; height: 20px; }
.ui-datepicker-title select { float: left; width: 50%; height: 50px; font-size: 16px; margin: -5px 0 20px; }
.ui-datepicker { background: #fff; border: 1px solid #ddd; border-radius: 5px; margin: 12px 0 0; padding: 10px; z-index: 9999 !important; }
.ui-datepicker-calendar { background: #fff; -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.1); box-shadow: 0 4px 10px rgba(0,0,0,0.1); margin-bottom: 0; }
.ui-datepicker-calendar td:hover a { color: #605e5b; text-decoration: none; }
.ui-datepicker-today, .ui-datepicker-today:hover { background: #202636; }
.ui-datepicker-today .ui-state-highlight { color: #fff; }
.ui-datepicker-calendar .ui-datepicker-today:hover .ui-state-highlight, .ui-datepicker-calendar .ui-datepicker-today .ui-state-highlight:hover { color: #fff; }
.ui-datepicker-calendar th { font-weight: 500; }
.ui-datepicker-title { display: block; text-align: center; font-weight: 600; font-size: 20px; margin-bottom: 8px; padding: 0 50px; }
.ui-datepicker-header { position: relative; }
.ui-icon { background: #fff; border: 1px solid #d2d2d2; border-radius: 50%; position: absolute; top: 0; text-indent: -999em; width: 35px; height: 35px; cursor: pointer; -webkit-transition: 0.2s all ease-in-out 0s; transition: 0.2s all ease-in-out 0s; }
.ui-icon:before { content: ''; border: solid 1px #696969; border-left: 0; border-top: 0; position: absolute; top: 50%; left: -3px; right: 0; margin: -4px auto 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); width: 9px; height: 9px; }
.ui-icon:hover:before { border-color: #fff; }
.ui-datepicker-calendar a { color: #202636; }
.ui-datepicker-title select { border-color: #bbb; }
.ui-icon:hover { background: #202636; border-color: #202636; }
.ui-icon.ui-icon-circle-triangle-w { left: 0; }
.ui-icon.ui-icon-circle-triangle-w:before { left: 6px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
.ui-icon.ui-icon-circle-triangle-e { right: 0; }
.ui-datepicker { margin: 12px 0 0; }
.ui-datepicker-calendar tbody td { text-align: center; padding: 16px 15px 13px; line-height: 1; cursor: pointer; }
.formbottom { margin:20px 0 0; }
.formblocktitle { background: #202636; padding: 24px 28px; }
.formblocktitle:after { content: ''; display: table; clear: both; }
.formblocktitle h3 { float: left; line-height: 0.8; font-size: 16px; text-transform: uppercase; color: #fff; font-weight: 500; margin: 0; }
.formblocktitle img { float: right; margin: -10px 0; }
.formblockfeilds { background: #fff; padding: 2px 26px 24px; }
.formrow .form-block { margin: 0; }
.formrow .form-group { padding: 0; }
.formrow .form-group .checkbox label { margin: 0; }
.formrow { margin: -8px -27px 0; padding: 26px 30px; border-bottom: #202636 solid 1px; }
.formrowtitle { display: block; margin: 0 0 30px; }
.datepickerwrap { position: relative; }
.datepickerwrap img { position: absolute; top: 48px; right: 15px; }
input.datepicker { padding-right: 46px; }
.formblockfeilds .cols { margin-top: 15px; }
.formrow:after { content: ''; display: table; clear: both; }
.formrowleft { float: left; }
.formrowright { float: right; width: 365px; }
.formrowright label { font-size: 16px; padding: 0; font-weight: 500; }
.buttonwrapper { text-align: center; margin: 50px 0 20px; }
.agreedisclaimer { margin: 20px 0 0; }
.agreedisclaimer:after { content: ''; display: table; clear: both; }
.agreedisclaimer .checkbox { margin: 0; }
.agreedisclaimer .checkbox span { font-size: 14px; display: inline-block; padding: 0 0 0 10px; }
.formfeildtitle { margin: 0 -27px -8px; border-bottom: #000 solid 1px; }
.formfeildtitle h4 { font-weight: 500; margin-bottom: 0; padding: 14px 30px; font-size: 16px; }
.col .form-group .cols { margin: 0 -5px; }
.col .form-group .cols .col { padding: 0 5px; width: 50%; }
.filleditems .form-group label { padding: 0; }
.filleditems .filleditem { font-size: 20px; font-weight: 600; }
.filleditems .filleditem em { display: block; font-style: normal; font-size: 14px; font-weight: 400; }
.conformationformrowleft { float: none; }
.conformationformrowleft:after { content: ''; display: table; clear: both; }
.conformationformrowleft img { float: left; }
.conformationformrowleft .userdetail { overflow: hidden; }
.conformationformrowleft .userdetail span { display: block; }
.userdetail { padding: 12px 0 0 20px; font-size: 14px; }
.innerbanner { background: #000 url(../images/bgi/faqbanner.png) no-repeat center center / cover; width: 100%; height: 380px; margin-top: 50px; position: relative; z-index: 1; }
.innerbanner:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #000; width: 100%; height: 100%; opacity: 0.5; z-index: -1; }
.innerbannerwrap { position: relative; height: 380px; }
.bannertitle { position: absolute; top: 50%; left: 0; right: 0; text-align: center; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: #fff; padding-bottom: 50px; }
.innerbannerbtngroup { position: absolute; top: calc(50% + 52px); left: 0; right: 0; text-align: center; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: center; }
.innerbannerbtngroup a + a { margin-left: 20px; }
.faqsection { padding: 40px 0 0; }
.faqsection .accordion-databox .accordion-row h5 { padding: 26px 54px 26px 0; }
.faqsection .accordion-databox .accordion-row:last-child h5 { border-bottom: 0; }
.loading { background: rgba(0,0,0,0.8); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999999; }
.loading svg { width: 100px; height: 100px; position: absolute; left: 0; right: 0; margin: 0 auto; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
/*.error404 #header { background: #202636; }*/
.error404 .blog-template .container { max-width: 600px; width: 100%; margin: 0 auto; text-align: center; }
.error404 .search-form .search-submit { background: none; top: 0; right: 0; bottom: 0; }
.error404 .search-form > label, .error404 .search-form > label { display: none; }
.error404 .blog-template h1 { color: #202636; font-weight: bold; font-size: 180px; -webkit-animation-name: opacity; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-name: opacity; animation-duration: 2s; animation-iteration-count: infinite; }
.search .page-header, .error404 .page-header { padding: 0; border-bottom: 0; margin: 0; }
.search .page-header { text-align: center; }
.error404 .blog-template .page-content { font-weight: 500; font-size: 20px; }
label.error { padding: 0; }
#yesnobtn-error, #yesnobtnnochildren-error { display: block; margin: 10px 0 0; }
.addNewChildSection { text-align: center; border-top: #cecece solid 1px; border-bottom: #cecece solid 1px; margin: 27px -27px 0; padding: 12px 27px; }
#addNewButton { background: #0042ff; color: #fff; border-radius: 50px;  font-size: 0; text-transform: uppercase; display: block; position: relative; width: 133px; height: 40px; margin: 0 auto; }
#addNewButton:before { content: '+'; position: absolute; top: 5px; left: 6px; font-size: 31px; color: #fff; font-weight: 300; width: 30px; height: 30px; line-height: 30px; border-radius: 50px; background: rgba(0,0,0,0.3); -webkit-transition: 0.25s all ease-in-out; transition: 0.25s all ease-in-out; }
#addNewButton:hover:before { background: rgba(255,255,255,0.3); }
#addNewButton::after { content: 'Add New'; position: absolute; top: 12px; right: 24px; font-size: 12px; font-weight: 600; }
#addNewButton:hover { background:#222; }
.childCounter .formfeildtitle { border-top:#000 solid 1px; margin-top: 20px; }
.childCounter:first-child .formfeildtitle { border-top: 0; margin-top: 0; }
.formstepwrapper li em { display:block; font-style:normal; font-size:14px; margin:0 0 5px; }
/* =Select 2 CSS
==================================================================================*/
.select2-container { display:block !important; }
.select2-selection__arrow { display:none !important; }
.select2-container--default .select2-selection--single { border: solid 1px #000 !important; height:41px !important; border-radius:0 !important; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 32px; height: 100%; padding:4px 20px; }
/* =BreadCrumbs
========================================================================================*/
.breadcrumbs { padding:16px 0; background:#202636; font-size:14px; color:#fff; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.15); box-shadow:0 0 15px rgba(0,0,0,0.15); }
.breadcrumbs ul { display: inline; margin: 0 0 0 5px; padding: 0; }
.breadcrumbs li { display:inline-block; margin:0 0 0 20px; position:relative; }
.breadcrumbs li:before { content:''; border-left:solid 4px #fff; border-bottom:solid 4px transparent; border-top:solid 4px transparent; width:0; height:0; display:inline-block; position:absolute; left:-14px; top:50%; margin-top:-4px; }
.breadcrumbs li a { color:#fff; text-decoration:none; }
.breadcrumbs li a:hover { color:#fff; }
.applicationdownloadwrapper:after { content: ''; display: table; clear: both; }
.applicationdownloadwrapper h5 { float: left; margin: 13px 0 0; padding-right: 20px; }
.applicationdownloadwrapper .dbuttonwrap { float: right; }
.infonote { text-align: center; }
/*New content CSS*/
.howtoapplyandrenewalsection{ background: #fff  }
.pt-15{ padding-top: 15px;}
.pt-0 { padding-top: 0;}
.gray-bg{ background: #f5f5f5;}
table.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.table th, .table td {
  padding: 12px;
  font-size: 15px;
  line-height: 22px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.content-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-content{
	width: 53%;
    text-align: justify;
    font-size: 15px;
    line-height: 22px;
}
.left-content p {
    margin-bottom: 10px;
}
.right-img{
	width: 43%;
}
.howtoapplyandrenewalsection .howtoapplyleft  .accordion-data br{display: block;}
.howtoapplyandrenewalsection .accordion-databox .accordion-row h5{font-size: 18px; padding-bottom: 10px;}
.home #main #birthcertisection ul li:before { display: none; }
.home #main #birthcertisection ul li { padding:0 10px; flex: 0 0 25%; }
@media only screen and (max-width: 1023px) {
.content-img{display: block;}
.left-content,.right-img{width: 100%;}
.home #main #birthcertisection ul li { flex:0 0 50%; }
}
.home #main #birthcertisection ul { list-style: none; margin: 0 -10px; padding: 0; display: flex; align-items: center; flex-wrap: wrap; }
.contact-design{ color: #0042ff; font-size: 48px; }
.contact-detail{ padding-top: 24px; }
.contact-pa1{ font-size: 17px; }
.contact-pa1{ font-size: 13px; line-height: 26px; }
.contact-pa3{ font-size: 13px; line-height: 16px; }